@import "tailwindcss";



@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #875cf5;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}


.input-box {
  @apply w-full flex justify-between items-center gap-3 text-sm text-black bg-slate-100 rounded px-4 py-4 mb-5 mt-4 border border-slate-200;
}


.btn-primary {
  @apply w-full text-base font-semibold text-white bg-violet-500 
  shadow-lg shadow-purple-600/20 
  px-6 py-3 rounded-lg my-2 
  hover:bg-purple-800 hover:text-purple-200 
  transition-all duration-200 ease-in-out;
}
